# IDE
.vscode
__debug_bin*

# Build Products
tile-id-api/tile-id-api
.pre-commit-gofmt.sh

# Mapproxy cache files
mapproxy/tile_cache

# Env
.autoenv*.zsh

# CDK
iac/cdk.context.json

# Local
**/.DS_Store
